*{
    margin: 0;
    font-family: sans-serif,verdana;
}
header{
   text-align: center;
}
main{
   /* overflow-x: hidden;*/
}
#cabecalho{
    text-align:center;
    font-weight:100;
}
#info{
    margin:10px 2px;
    border:1px solid black;
    padding:10px;
}
.cima{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-around;
    margin-top:10px;
}
.contCabecalho{
    text-align:left;
    padding:16px
}
input{
    margin: 5px;
    width:100%;
    border:none;
    
}
input:focus{
    outline:none;
    border-bottom: 2px solid black;
}
label{
    font-weight:bold;
}
.topico{
    display:flex;
    justify-content: space-around;
    font-weight:bold;
    background-color: #808289;
    padding: 5px;
}
.topico label{
    flex-grow: 4;
    font-size: 16px;
}
.subtopico{
    display:flex;
    justify-content: space-around;
    background-color: #92949c;
    padding: 5px;
}
.content{
    display:flex;
    flex-direction: row;
    
}
.content div {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.content input{
    text-align:center;
}
.subtitulo{
    display: flex;
    justify-content: flex-end;
}
.subtitulo p{
    margin-right: 100px;
}
.eixo{
    margin-bottom: 5px;
}
.redund{
    opacity:0;
}

/*input[type=radio]
{
  /* Double-sized Checkboxes */
/*  -ms-transform: scale(1.5); /* IE */
 /* -moz-transform: scale(1.5); /* FF */
 /* -webkit-transform: scale(1.5); /* Safari and Chrome */
 /* -o-transform: scale(1.5); /* Opera */
 /* transform: scale(1.5);
 /* padding: 10px;
 /* margin: 5px;*/
/*}*/
.cilindro{
    display:flex;
   
}
.btnModal{
    display:flex;
    height:50px;
    width:100%;
    border-radius: 10px;
    background-color: #92949c;
    justify-content:space-around;
    align-items:center;
    flex-direction: row;
    margin:10px
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 8% auto;  
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    text-align: left;
    box-shadow: 0 0 1em black;
    font-size: larger;
  }
.modal-content input{
    font-size: 1.2em;
}

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.lista{
    display:flex;
    flex-direction: row;
    border-bottom: 1px solid #92949c;
}
.lista div {
    display:flex;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
   
}
.desclist{
    width:120px;
}

